{% autoescape off %}
Para iniciar el proceso de restablecimiento de contraseña para su {{ user.get_username }} de la cuenta de Canales Seguros,
haga clic en el enlace de abajo:

{{ protocol }}://{{ domain }}{% url 'forgot_passwoed_confirm' uidb64=uid token=token %}

Si hacer clic en el enlace anterior no funciona, copie y pegue la URL en una nueva ventana
de su navegador.

Si usted no pidió un restablecimiento de cuenta ignore este mensaje.

Atentamente,
El equipo de Canales Seguros
{% endautoescape %}