{% extends "core/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumb %} 
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'bienes' %}">Bienes Personales</a></li>
  <li class="breadcrumb-item active">{{title|capfirst}}</li>
{% endblock %}
{% block header %} 
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="info-box bg-light">
          <div class="info-box-content">
            <span class="info-box-text text-center text-muted">Valor cubierto</span>
            <span class="info-box-number text-center text-muted mb-0">{{bicicleta.valor}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="info-box bg-light">
          <div class="info-box-content">
            <span class="info-box-text text-center text-muted">Valor de la cuota</span>
            <span class="info-box-number text-center text-muted mb-0">2000</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="info-box bg-light">
          <div class="info-box-content">
            <span class="info-box-text text-center text-muted">Proximo vencimiento</span>
            <span class="info-box-number text-center text-muted mb-0">20/3</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4>Poliza asociadas al bien personal</h4>
          <div class="post">
            <div class="user-block">
              <img class="img-circle img-bordered-sm" src="{% static 'core/img/rivadavia.jpg' %}" alt="user image">
              <span class="username">
                <a href="#">Seguros Rivadavia</a>
              </span>
              <span class="description">desde 20/3/20 - hasta 20/3/21</span>
            </div>
            <!-- /.user-block -->
            <h5>Detalle de la poliza</h5>
            <p>
              Lorem ipsum represents a long-held tradition for designers,
              typographers and the like. Some people hate it and argue for
              its demise, but others ignore.
            </p>

            <p>
              <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Comprobante de Poliza</a>
            </p>
            <p>
              <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Cupones de pagao</a>
            </p>
          </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
    <h3 class="text-primary"><i class="fas fa-bicycle"></i> {{bicicleta.marca}} - {{bicicleta.modelo}}</h3>
    <div class="text-muted">
      <p class="text-sm">Marca
        <b class="d-block">{{bicicleta.marca}}</b>
      </p>
      <p class="text-sm">Modelo
        <b class="d-block">{{bicicleta.modelo}}</b>
      </p>
      <p class="text-sm">Uso
        <b class="d-block">{{bicicleta.uso}}</b>
      </p>
      <p class="text-sm">Numero de chasis
        <b class="d-block">{{bicicleta.chasis}}</b>
      </p>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title text-muted">Accesorios</h5>
      </div>
      <div class="card-body">
        <div id="accordion">
          {% for accesor in accesorios %}
            <div class="card card-primary">
              <div class="card-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100" data-toggle="collapse" href="#collapse{{accesor.id}}">
                    {{accesor.nombre}}
                  </a>
                </h4>
              </div>
              <div id="collapse{{accesor.id}}" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="text-muted">
                    <p class="text-sm">Marca
                      <b class="d-block">{{accesor.marca}}</b>
                    </p>
                    <p class="text-sm">Modelo
                      <b class="d-block">{{accesor.modelo}}</b>
                    </p>
                    {% if accesor.serial_number %}
                      <p class="text-sm">Numero de serie
                        <b class="d-block">{{accesor.serial_number}}</b>
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="text-center mt-5 mb-3">
      <a href="{% url 'crear_accesorio' bicicleta.id %}" class="btn btn-sm btn-primary"><i class="fas fa-plus-square"></i>  Agregar Accesorio</a>
      <a href="{% url 'update_bicicleta' bicicleta.id %}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Editar Bicicleta </a>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}

{% endblock %}