{% extends "core/base.html" %} 
{% block breadcrumb %} 
<li class="breadcrumb-item active">{{title|capfirst}}</li>
{% endblock %}

{% block content %} 
Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci corporis veniam facere amet assumenda doloribus voluptatibus dicta tempore, ipsam ex magni dignissimos quos sed dolorum. Hic nihil itaque molestias ea?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, distinctio nihil. Dolore eum nihil modi. Id, deserunt odit voluptates similique obcaecati consequatur voluptate quod quo iusto eligendi suscipit unde earum.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam repellat fuga itaque nemo beatae quos cupiditate, rerum totam unde, minima laborum expedita consectetur aspernatur ratione, error numquam nobis consequatur eveniet.


{% endblock %}

{% block javascripts %}

{% endblock %}